<footer class="footer">
    <div class="container py-5">
        <div class="row gy-3 py-3">
            <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                <h3 class="footer-heading">Our Address</h3>
                <ul class="footer-list">
                    <li> <i class="fas fa-map-marker-alt"></i>Ayub Bachchu Chottor ,</li>
                    <li>prabartak circle, 1-a </li>
                    <li>O.R. Nizam Rd, Chattogram </li>
                    <li>Bangladesh</li>
                </ul>
            </div>
            <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                <h3 class="footer-heading">Reservation</h3>
                <ul class="footer-list">
                    <li>Call # 017899-68352</li>
                    <li>Call # 01398-655645 </li>
                    <li>Email # potluck111@gmail.com</li>
                </ul>

                <h3 class="footer-heading">Open Time</h3>
                <ul class="footer-list">
                    <li>Days: Sunday - Friday</li>
                    <li>Hours: 11Am - 11Pm</li>
                </ul>
            </div>
            <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                <h3 class="footer-heading">Follow Us</h3>
                <div class="footer_icon">
                    <a href="https://www.instagram.com" target="_sakib"> <i class="fab fa-instagram"></i> </a>
                    <a href="https://www.facebook.com/" target="_sakib"><i class="fab fa-facebook"></i> </a>
                    <a href="https://twitter.com/" target="_sakib"> <i class="fab fa-twitter"></i> </a>
                    <a href="https://www.linkedin.com/" target="_sakib"><i class="fab fa-linkedin-in"></i> </a>
                    <a href="https://www.whatsapp.com/" target="_sakib"><i class="fab fa-whatsapp"></i> </a>
                </div>
            </div>
        </div>
        <h4 class="copyright-heading">Copyright &copy; 2019 Potluck Restaurant. All Rights Reserved</h4>
    </div>
</footer>