
 <!-- head section -->
 <%- include('./partials/head.ejs') %>


 <body>
 
 
     <!-- header section -->
     <header class="about_header">
 
         <!-- navbar section -->
         <%- include('./partials/nav.ejs') %>

        <div class="nav-text">
            <h1>About Us </h1>
            <form class="d-flex">
                <button class="nav-txt-btn"> <a href="/bookTable">Book a table</a></button>
            </form>
        </div>
    </header>

    <!-- about us section -->
    <section class="about-section">
        <div class="container py-5">
            <h1 class="about-heading">About Us</h1>
            <div class="row gy-2">
                <div class="col-md-12 col-12 col-lg-6 col-xxl-6">
                    <p class="about-text">Potluck is the leading fine dine restaurant in chittagong since
                        2017. Potluck restaurant offers full flavored, full-bodied Thai, Chinese, Indian,
                        Continental and Bangladeshi dishes with a fine touch of a very special chef with
                        competitive price. It is located in the heart of Chittagong city at the Prabartak circle Known
                        as the name of legendary singer Ayub bacchu Which called Ayub bachhu Chottor.</p>
                    <p class="about-text">Potluck has a very nice and cozy atmosphere decorated with warm color and
                        colonial outlook. We have facilities for arranging all types of programmes for 300-400 people,
                        meeting, and conference and individual lunch/dinner arrangement. </p>
                    <p class="about-text">Potluck is of such scintillating taste that mare mortals could only dream and
                        wonder. It is something that people desperately tried to find, to create all that makes for a
                        great story but it contains within itself the pursuit of perfection. Food is not just a means of
                        survival but is an experience to be savoured. And Potluck, as the food of the heavens, is the
                        ultimate benchmark for that experience.</p>
                </div>
                <div class="col-md-12 col-12 col-lg-6 col-xxl-6">
                    <img src="./img/res8.jpg" class="img-fluid" alt="image is loading">
                </div>
            </div>
        </div>
    </section>

    <!-- chef section -->
    <section class="chef-section">
        <div class="container py-5">
            <h1 class="chef-heading"> Our Chefs </h1>
            <div class="row gy-2 py-3">
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="chef-info">
                        <figure class="figure">
                            <img src="./img/chef1.jpg" alt="image is loading" class="img-fluid chef-img">
                        </figure>
                        <div class="chef-text">
                            <h3>Naim Rahman </h3>
                            <p>Master Chef</p>
                            <div class="chef-icon">
                                <a href="https://www.instagram.com" class="link" target="_sakib"> <i
                                        class="fab fa-instagram"></i>
                                </a>
                                <a href="https://www.facebook.com/" class="link" target="_sakib"><i
                                        class="fab fa-facebook"></i> </a>
                                <a href="https://twitter.com/" class="link" target="_sakib"> <i
                                        class="fab fa-twitter"></i> </a>
                                <a href="https://www.linkedin.com/" class="link" target="_sakib"><i
                                        class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="chef-info">
                        <figure class="figure">
                            <img src="./img/chef2.jpg" alt="image is loading" class="img-fluid chef-img">
                        </figure>
                        <div class="chef-text">
                            <h3>Mr. Abu Sakib </h3>
                            <p>Head Chef</p>
                            <div class="chef-icon">
                                <a href="https://www.instagram.com" class="link" target="_sakib"> <i
                                        class="fab fa-instagram"></i>
                                </a>
                                <a href="https://www.facebook.com/" class="link" target="_sakib"><i
                                        class="fab fa-facebook"></i> </a>
                                <a href="https://twitter.com/" class="link" target="_sakib"> <i
                                        class="fab fa-twitter"></i> </a>
                                <a href="https://www.linkedin.com/" class="link" target="_sakib"><i
                                        class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="chef-info">
                        <figure class="figure">
                            <img src="./img/chef3.jpg" alt="image is loading" class="img-fluid chef-img">
                        </figure>
                        <div class="chef-text">
                            <h3>Mr. Aziz Akhter </h3>
                            <p>Chef </p>
                            <div class="chef-icon">
                                <a href="https://www.instagram.com" class="link" target="_sakib"> <i
                                        class="fab fa-instagram"></i>
                                </a>
                                <a href="https://www.facebook.com/" class="link" target="_sakib"><i
                                        class="fab fa-facebook"></i> </a>
                                <a href="https://twitter.com/" class="link" target="_sakib"> <i
                                        class="fab fa-twitter"></i> </a>
                                <a href="https://www.linkedin.com/" class="link" target="_sakib"><i
                                        class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- statistics section -->
    <section class="statistics-section">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4 information">
                    <img src="./img/1.png" alt="image is loading">
                    <h5><span class="count"> 5 </span> <br> Restaurants</h5>
                    <p>Potluck has 3 restaurants all over the city. </p>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4 information">
                    <img src="./img/2.png" alt="image is loading">
                    <h5><span class="count"> 168 </span> <br> Delicious Meals </h5>
                    <p> Potluck offers more than 168 delicious dishes. </p>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4 information">
                    <img src="./img/3.png" alt="image is loading">
                    <h5><span class="count"> 140 </span> <br> Employees </h5>
                    <p> We are a big family with our 140 happy employees. </p>
                </div>
            </div>
        </div>
    </section>


      <!-- map section -->
      <%- include('./partials/map.ejs') %>

      <!-- footer section -->
      <%- include('./partials/footer.ejs') %>









    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->

    <!-- github animation js link -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 150,
            duration: 800

        });
    </script>

    <!-- external js link -->
    <script src="index.js"></script>

</body>

</html>