
<!-- head section -->
<%- include('./partials/head.ejs') %>


    <body>


        <!-- header section -->
        <header class="continental_header">

            <!-- navbar section -->
            <%- include('./partials/nav.ejs') %>



        <div class="nav-text">
            <h1>Continental Cuisine </h1>
            <h6>Enjoy the <span> delicacy </span>food <br> of Continental Cuisine </h6>
            </h6>
            <form class="d-flex">
                <button class="nav-txt-btn"> <a href="/bookTable">Book a table</a></button>
            </form>
        </div>
    </header>

    <!-- continental menu section -->
    <section class="continental-menu-section">
        <div class="container py-5">
            <h1 class="cuisine-heading">Continental Cuisine </h1>
            <p class="cuisine-text">We use the best & fresh ingredients from home & abroad. </p>
            <div class="row gy-3">
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/appetizer2.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Appetizers </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span>Garlic Bread With Gratin </span> <br>Deep
                                    Greek bread with garlic sauce & mozzarrela <br> cheese. </p>
                                <p class="taka"> 250 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Shrimps Cocktail </span> <br>
                                    An exquisite blind baby shrimps & <br> cabbage in a creamy mayonnaise. </p>
                                <p class="taka"> 390 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Buffalo Wings </span> </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Potluck Mixed Appetizers </span> <br>
                                    Chicken, prawn, cheese served with <br> vegetable & brown sauce. </p>
                                <p class="taka"> 410 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/soup4.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Soup </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Cream Of Tomato </span> <br></p>
                                <p class="taka"> 290 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Cream of Chicken</span> <br>
                                    Thick creamy soup diced chicken.</p>
                                <p class="taka"> 350 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Cream Of Mashroom</span><br>
                                    A fresh cream soup with mashroom. </p>
                                <p class="taka"> 290 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Minestrone </span> <br>
                                    Carrot, cabbage, potato, capsicum, long <br> beans, noodles with butter.</p>
                                <p class="taka"> 290 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/spaggeti.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Spaghetti </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Spaghetti Alpana Sauce </span> <br>
                                    Mushroom, chicken, sausage, mile, <br> cream with butter. </p>
                                <p class="taka"> 460 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Spaghetti Bolognese</span> </p>
                                <p class="taka"> 420 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Spaghetti Ala-Siciliana </span> <br>
                                    Shrimp, dry pepper, butter & garlic </p>
                                <p class="taka"> 520 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Spaghetti Al-Burro </span> </p>
                                <p class="taka"> 460 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="continental-menu-section">
        <div class="container py-5">
            <div class="row gy-3">
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/chicken4.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Chicken </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span>Grilled Chicken</span> <br>
                                    Grilled boneless chicken, boiled vegetable, <br> french fries, brown sauce. </p>
                                <p class="taka"> 550 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Mexican Chicken </span> <br>
                                    Boneless chicken, capsicum, mushroom, <br> carrot, green chili, onion, tomato. </p>
                                <p class="taka"> 490 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Chicken A-La Kiev</span> <br>
                                    Chicken stuffed with mushroom & butter <br> with seasonal vegetable with mash potato </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Chicken Shashlik </span> <br>
                                    Cube chicken in skewered with onion, <br> mushroom & capsicum with greek rice. </p>
                                <p class="taka"> 410 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Chicken Cutlet </span> <br>
                                    Boneless chicken with bread cream, boiled <br> vegetable, french fry & garlic mayonnise. </p>
                                <p class="taka"> 450 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/steak.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Steak </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Pepper Steak</span> <br>
                                    Marinated fillet steak, black pepper <br> corn with boiled vegetable, french <br> fries & greek rice.</p>
                                <p class="taka"> 1390 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Mushroom Steak </span> <br>
                                    Mushroom vegetable, french fries & brown <br> sauce with greek rice. </p>
                                <p class="taka"> 1350 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Mexican Steak</span><br>
                                    A fresh cream soup with mashroom. </p>
                                <p class="taka"> 290 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Minestrone </span> <br>
                                    Cheese asparagus, mushroom, mush <br> potato vegetable & brown sauce with <br> greek rice. </p>
                                <p class="taka"> 1390 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Rib Eye Steak </span> <br>
                                    Bone steak brown sauce & mushroom <br> with greek rice. </p>
                                <p class="taka"> 1420 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Potluck Special Steak </span> <br>
                                    Fillet magnon plus two butterfly shrimps <br> serve with ambrosia sauce with greek rice. </p>
                                <p class="taka"> 1420 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/fish4.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Fish </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Grilled Fish </span> <br>
                                    Beckty fish, bother, lemon sauce with <br> vegetable & french fries. </p>
                                <p class="taka"> 660 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Salmon Steak Of Fillet</span> <br>
                                    Served over a creamy lemon and capers <br> sauce with bearnaise sauce, herbs <br> roasted potato, vegetable & greek rice. </p>
                                <p class="taka"> 1520 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Grilled Pomfret </span> <br>
                                    Served with boiled vegetable , french fry. </p>
                                <p class="taka"> 620 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Grilled Red Snapper </span> </p>
                                <p class="taka"> 360 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Mixed Grilled Sea Food </span> <br>
                                    Served with butter lemon sauce. </p>
                                <p class="taka"> 760 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="continental-menu-section">
        <div class="container py-5">
            <div class="row gy-3">
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/pizza.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Pizza </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span>Barbeque Hot Pizza(12")</span> </p>
                                <p class="taka"> 1220 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Americana Pizza(12") </span> </p>
                                <p class="taka"> 1220 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Emilliana Pizza(12") </span></p>
                                <p class="taka"> 1290 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Mare-E-Monti Pizza(12")</span> </p>
                                <p class="taka"> 1410 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Mexican Hot & Hot Pizza(12")</span> </p>
                                <p class="taka"> 1450 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Potluck Special Pizza(12") </span> </p>
                                <p class="taka"> 1450 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/prawns4.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Potluck Special </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Prawn Steak</span> </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Grilled Tiger prawn </span> <br>
                                    Shell prawn in charcoal and served <br> with delicious grills sauce. </p>
                                <p class="taka"> 550 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Grilled Lobster </span> <br>
                                    Served with roast potato, greek rice,<br> saute vegetable & grill sauce. </p>
                                <p class="taka"> 490 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Jerk Chicken </span> <br>
                                    Marinated with peri peri sauce served <br> with mexican rice & grilled vegetable. </p>
                                <p class="taka"> 620 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Western Beef Chop </span> <br>
                                    Marinated with cajun spice served with <br> chef special democracy and rice or <br> garlic bread. </p>
                                <p class="taka"> 620 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Grilled Sea Bass </span> <br>
                                    Sea fish marinated with chef special <br> sauce served with rice, lemon butter <br> sauce & vegetable </p>
                                <p class="taka"> 750 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
        <!-- map section -->
        <%- include('./partials/map.ejs') %>

            <!-- footer section -->
            <%- include('./partials/footer.ejs') %>











    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->

    <!-- github animation js link -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 150,
            duration: 800

        });
    </script>

    <!-- external js link -->
    <script src="index.js"></script>

</body>

</html>








<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->

<!-- github animation js link -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 150,
        duration: 800

    });
</script>

<!-- external js link -->
<script src="index.js"></script>

</body>

</html>