

<!-- head section -->
<%- include('./partials/head.ejs') %>


    <body>


        <!-- header section -->
        <header class="desert_header">

            <!-- navbar section -->
            <%- include('./partials/nav.ejs') %>


        <div class="nav-text">
            <h1> Desert & Drinks </h1>
            <h6>Enjoy the <span> delicacy </span> Desert <br> & Drinks Of Potluck </h6>
            </h6>
            <form class="d-flex">
                <button class="nav-txt-btn"> <a href="/bookTable">Book a table</a></button>
            </form>
        </div>
    </header>

    <!-- desert & drinks menu section -->
    <section class="desert-menu-section">
        <div class="container py-5">
            <h1 class="cuisine-heading">Desert & Drinks </h1>
            <p class="cuisine-text">We use the best & fresh ingredients from home & abroad. </p>
            <div class="row gy-3">
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/desert1.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Desert </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Banana Split </span></p>
                                <p class="taka"> 250 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Fresh Fruit Salad </span> </p>
                                <p class="taka"> 250 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Fresh Fruit Salad With Ice Cream	 </span> </p>
                                <p class="taka"> 250 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Mixed Flavored Ice Cream </span> </p>
                                <p class="taka"> 150 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Ice Cream Cake </span> </p>
                                <p class="taka"> 150 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Custard (Fruit) </span> </p>
                                <p class="taka"> 150 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Milk & Egg Pudding</span> </p>
                                <p class="taka"> 150 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Potluck Special Faluda </span> </p>
                                <p class="taka"> 250 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Chocolate Lava </span> </p>
                                <p class="taka"> 270 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Potluck Special Kulfi</span></p>
                                <p class="taka"> 230 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/drinks1.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Cold Beverage </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Mineral Water(500ml) </span></p>
                                <p class="taka"> 20 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Mineral Water (1 Ltr. ) </span></p>
                                <p class="taka"> 40 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Soft Drinks</span></p>
                                <p class="taka"> 50 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Lassi (Sweet/Sour/Salty) </span>
                                <p class="taka"> 120 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Seasonal Fresh Juice </span>
                                <p class="taka"> 220 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Fresh Cocktail Juice </span> </p>
                                <p class="taka"> 250 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Cold Coffee </span> </p>
                                <p class="taka"> 140 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Milk Shake (Choice Of Flavor)</span> </p>
                                <p class="taka"> 150 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/coffee.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Hot Beverage </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Tea (Milk/Lemon) </span></p>
                                <p class="taka"> 70 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Mint Tea </span></p>
                                <p class="taka"> 40 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Ginger Masala Tea </span></p>
                                <p class="taka"> 70 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Green Tea </span></p>
                                <p class="taka"> 90 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Hot Chocolate </span></p>
                                <p class="taka"> 120 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Cappuccino </span></p>
                                <p class="taka"> 180 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

       <!-- map section -->
       <%- include('./partials/map.ejs') %>

       <!-- footer section -->
       <%- include('./partials/footer.ejs') %>

    







    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->

    <!-- github animation js link -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 150,
            duration: 800

        });
    </script>

    <!-- external js link -->
    <script src="index.js"></script>

</body>

</html>








<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->

<!-- github animation js link -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 150,
        duration: 800

    });
</script>

<!-- external js link -->
<script src="index.js"></script>

</body>

</html>