<!-- head section -->
<%- include('./partials/head.ejs') %>


    <body>


        <!-- header section -->
        <header class="gallery_header">

            <!-- navbar section -->
            <%- include('./partials/nav.ejs') %>


                <div class="nav-text">
                    <h1>Our Gallery </h1>
                    <form class="d-flex">
                        <button class="nav-txt-btn"> <a href="/bookTable">Book a table</a></button>
                    </form>
                </div>
        </header>

        <!-- gallery section -->
        <section class="gallery-section">
            <div class="container-fluid py-5">
                <h1>Some Photos Of Our Restaurant & Food </h1>
                <div class="row gy-3 images">
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/res2.jpg" target="_balnk"> <img src="./img/res2.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/res3.jpg" target="_balnk"> <img src="./img/res3.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/res4.jpg" target="_balnk"> <img src="./img/res4.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/res5.jpg" target="_balnk"> <img src="./img/res5.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/res6.jpg" target="_balnk"> <img src="./img/res6.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/res7.jpg" target="_balnk"> <img src="./img/res7.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/res8.jpg" target="_balnk"> <img src="./img/res8.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/res10.jpg" target="_balnk"> <img src="./img/res10.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/res11.jpg" target="_balnk"> <img src="./img/res11.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/sizzling1.jpg" target="_balnk"> <img src="./img/sizzling1.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/res12.jpg" target="_balnk"> <img src="./img/res12.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/home2.jpg" target="_balnk"> <img src="./img/home2.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/soup2.jpg" target="_balnk"> <img src="./img/soup2.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/res9.jpg" target="_balnk"> <img src="./img/res9.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/gallery.jpg" target="_balnk"> <img src="./img/gallery.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/chicken4.jpg" target="_balnk"> <img src="./img/chicken4.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/fish2.jpg" target="_balnk"> <img src="./img/fish2.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/prawns2.jpg" target="_balnk"> <img src="./img/prawns2.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/beefcurry.jpg" target="_balnk"> <img src="./img/beefcurry.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                        <div class="img-main">
                            <figure class="figure">
                                <a href="./img/res1.jpg" target="_balnk"> <img src="./img/res1.jpg"
                                        alt="image is loading" class="img-fluid"> </a>
                            </figure>
                            <div class="img-icon">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- map section -->
        <%- include('./partials/map.ejs') %>

            <!-- footer section -->
            <%- include('./partials/footer.ejs') %>












                <!-- Optional JavaScript; choose one of the two! -->

                <!-- Option 1: Bootstrap Bundle with Popper -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
                    crossorigin="anonymous"></script>

                <!-- Option 2: Separate Popper and Bootstrap JS -->
                <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->

                <!-- github animation js link -->
                <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
                <script>
                    AOS.init({
                        offset: 150,
                        duration: 800

                    });
                </script>

                <!-- external js link -->
                <script src="index.js"></script>

    </body>

    </html>