
<!-- head section -->
<%- include('./partials/head.ejs') %>


    <body>


        <!-- header section -->
        <header class="indian_header">

            <!-- navbar section -->
            <%- include('./partials/nav.ejs') %>


        <div class="nav-text">
            <h1>Indian Cuisine </h1>
            <h6>Enjoy the <span> delicacy </span>food <br> of Indian Cuisine </h6>
            </h6>
            <form class="d-flex">
                <button class="nav-txt-btn"> <a href="/bookTable">Book a table</a></button>
            </form>
        </div>
    </header>

    <!-- indian menu section -->
    <section class="indian-menu-section">
        <div class="container py-5">
            <h1 class="cuisine-heading">Indian Cuisine </h1>
            <p class="cuisine-text">We use the best & fresh ingredients from home & abroad. </p>
            <div class="row gy-3">
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/appetizer4.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Appetizers </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span>Potluck Special Mix Platter (Fried Prawn) </span> <br>Deep
                                    fried chicken, fish, prawn, vegetable <br> & chese. </p>
                                <p class="taka"> 550 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Panir Pakora </span></p>
                                <p class="taka"> 250 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Pakora (Chicken/ Fish/ Prawn/ Vegetable)</span> </p>
                                <p class="taka"> 390 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Chilli Panner Dry </span> </p>
                                <p class="taka"> 425 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Chilli Bread </span> </p>
                                <p class="taka"> 310 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/fish1.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Fish (Tandoori) </h2>
                        </div>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Fish Tikka Kabab</span> <br>
                                    Red snapper with egg, curd, cream, onion, <br> ginger, garlic & spice. </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Fish Malai Kabab </span> <br>
                                    Sea fish, cream, cashew nut & special <br> malai cream </p>
                                <p class="taka"> 450 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Fish Irani Kabab </span><br>
                                    Boneless fish cubes, cashew nut paste <br> with yoghurt sauce. </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Tandoori Pomfret </span> <br>
                                    Pomfret, cardamon, cinnamon, white <br> pepper, dry ginger, cumin with curd <br> cream & other spice </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Potluck Special Fish Hariwala Kabab</span> <br>
                                    Fish skewer deeped in malai & mint chutney, <br> roasted over charcoal in tandoori. </p>
                                <p class="taka"> 550 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/chicken5.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Chicken (Tandoori) </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Chicken Kalmi Kabab (Tengry Kabab) </span> </p>
                                <p class="taka"> 460 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Special Chicken Bhaopali Kabab </span> </p>
                                <p class="taka"> 460 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Chicken Tikka Kabab</span> </p>
                                <p class="taka"> 460 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Chicken Resmee Kabab </span></p>
                                <p class="taka"> 460 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Chicken Tandoori (Full)</span></p>
                                <p class="taka"> 620 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Chicken Tandoori (Portion) </span></p>
                                <p class="taka"> 360 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Potluck Special Chicken Kushnama kabab </span></p>
                                <p class="taka"> 690 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="indian-menu-section">
        <div class="container py-5">
            <div class="row gy-3">
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/salad3.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Salad / Raita </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span>
                                    Fresh Green Salad </span> <br> Seasonal fresh mixed vegetable salad. </p>
                                <p class="taka"> 180 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Onion Ring Salad </span></p>
                                <p class="taka"> 180 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Fruit Raita</span> <br>
                                    (Sweet Raita made with yougut & mix fruit) </p>
                                <p class="taka"> 290 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Mixed Vegetable Raita </span> <br>
                                    Home made curd mixed with cumn, <br> cucumber, tomato & onion. </p>
                                <p class="taka"> 325 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Herbed Potato Salad </span> </p>
                                <p class="taka"> 180 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/mutton.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Mutton (Tandoori) </h2>
                        </div>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Mutton Boti Kabab </span> <br>
                                    Diced mutton blended with yoghurt, spiced <br> skewerd with vegetable & roasted over glowing  charcoal in tandoor. </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Mutton Shish Kabab </span> <br>
                                    Mutton minced marrinated in indian <br> spices, roasted over charcoal in Tandoori. </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Mutton Moti Kabab </span><br>
                                    Mutton with garlic, ginger, curd, cream <br> mustard oil & spice. </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/chickencurry.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Chicken (Gravy) </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Chicken Curry </span> <br>
                                    Chicken with curd, cashew nut, cream, <br> garlic, ginger, hot spice & vegetable oil. </p>
                                <p class="taka"> 460 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Chicken Masala </span> <br>
                                    Chicken with cashew nut, ginger, garlic,<br> poppy seed & other spicy.</p>
                                <p class="taka"> 460 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Chicken Bhuna </span> <br>
                                    Chicken, tomato, fried onion, simmered, <br> in mild gravy. </p>
                                <p class="taka"> 480 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Chicken Do-Pia_Za </span> <br>
                                    Chicken with cream cashew nut poppy seed, <br> onion, garlic, ginger, tomato & vegetable oil. </p>
                                <p class="taka"> 460 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Chicken Bhorta </span> <br>
                                    Boneless chicken with curd, cream, butter, <br> onion, garlic, ginger, green chili & hot spice. </p>
                                <p class="taka"> 520 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Potluck Special Murogh Mosallam </span> <br>
                                    Whole chicken with mughlai herbs. </p>
                                <p class="taka"> 560 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="indian-menu-section">
        <div class="container py-5">
            <div class="row gy-3">
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/dal.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Dal / Vorta </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Butter Fried Dal </span> <br> 
                                    Yellow dal with delicious indian herbs <br> & butter. </p>
                                <p class="taka"> 280 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Dal Makkhani </span> <br>
                                    Black dal with delicious makkhani gravy. </p>
                                <p class="taka"> 280 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Potluck Special Dal </span> <br>
                                    Black dal, alo bukhara with savory <br> sauce & butter. </p>
                                <p class="taka"> 360 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Eggplant Vorta  </span> <br>
                                    Home made curd mixed with eggplant, <br> mustard oil, tomato & onion. </p>
                                <p class="taka"> 100 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Hilsha Vorta </span> <br>
                                Fried hilsha fish with some mustard oil , onion & red chili flakes. </p>
                                <p class="taka"> 180 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/beefcurry.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Beef (Gravy) </h2>
                        </div>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Beef Bhuna/Mezban</span> <br> </p>
                                <p class="taka"> 520 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Beef Panjabee </span> <br> </p>
                                <p class="taka"> 520 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Beef Rezala  </span><br> </p>
                                <p class="taka"> 490 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Potluck Special Karai Gosh </span><br> </p>
                                <p class="taka"> 520 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/rice4.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Aromatic Rice </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Plain Polau </span> <br> </p>
                                <p class="taka"> 320 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Zera Polau </span> <br>
                                    Rice with cumin, ginger, garlic, <br> onion, green chili & butter oil.</p>
                                <p class="taka"> 350 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Mutton Hyderabadi Biryani </span> <br>
                                    Rice with mutton curry, saffron & <br> powdered spices served with flavored <br> herbs. </p>
                                <p class="taka"> 480 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Mutton Biriyani </span> <br></p>
                                <p class="taka"> 420 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Muragh Polau</span> <br>
                                    Special curried chicken layered with <br> rice & indian spices.</p>
                                <p class="taka"> 350 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Potluck Special Hundi Biryani </span> <br>
                                    Chicken, mutton, beef stewered in ghee <br> layered rice. </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- map section -->
        <%- include('./partials/map.ejs') %>

            <!-- footer section -->
            <%- include('./partials/footer.ejs') %>











    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->

    <!-- github animation js link -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 150,
            duration: 800

        });
    </script>

    <!-- external js link -->
    <script src="index.js"></script>

</body>

</html>








<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->

<!-- github animation js link -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 150,
        duration: 800

    });
</script>

<!-- external js link -->
<script src="index.js"></script>

</body>

</html>