

<!-- head section -->
<%- include('./partials/head.ejs') %>


    <body>


        <!-- header section -->
        <header class="thai_header">

            <!-- navbar section -->
            <%- include('./partials/nav.ejs') %>



        <div class="nav-text">
            <h1>Thai Cuisine </h1>
            <h6>Enjoy the <span> delicacy </span>food <br> of Thai Cuisine </h6>
            </h6>
            <form class="d-flex">
                <button class="nav-txt-btn"> <a href="/bookTable">Book a table</a></button>
            </form>
        </div>
    </header>

    <!-- thai menu section -->
    <section class="thai-menu-section">
        <div class="container py-5">
            <h1 class="cuisine-heading">Thai Cuisine </h1>
            <p class="cuisine-text">We use the best & fresh ingredients from home & abroad. </p>
            <div class="row gy-3">
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/appetizer1.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Appetizers </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Goong Tod (Fried Prawn) </span> <br>
                                    Deep fried see fresh prawn cooking with <br> bread crump served with palm sauce </p>
                                <p class="taka"> 495 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Stay Kai (Stick Chicken) </span> <br>
                                    Grilled chicken fillet cooking thai spice <br> served with cucumbers & peanut sauce
                                </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Stay Naam (Stick Beef) </span> <br>
                                    Grilled beef fillet combination in thai <br> spice served with peanut sauce. </p>
                                <p class="taka"> 620 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Plamuk Tod (Fried Cuttle Fish) </span> <br>
                                    Deep fried cuttle fish finger served with <br> chili sauce or sea food spicy sauce.
                                </p>
                                <p class="taka"> 775 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Por-Pea Tod (Spring Roll)</span> <br>
                                    Deep fired chopped chicken thai jeely <br> noodles and vegetables served with <br>
                                    sweet & sour souce. </p>
                                <p class="taka"> 550 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Tod Man Pla (Fish Cake) </span> <br>
                                    Deep fired chopped fish fillet cooking with <br> chili paste & thai spicy herb
                                    served with <br> sweet & cucumber sauce. </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/soup1.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Soup </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Tomyaam Goong Yai (Sweet King Prawn Soup) </span> <br>
                                    Fresh sea prawn or slice chicken fillet/ <br> fish fillet/ lime juice/ chili, lemon
                                    grass, <br> thai hot ginger & onion. </p>
                                <p class="taka"> 610 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Tomyaam Ruammit Tale (Special Sea Food Soup) </span> <br>
                                    Spicy fresh prawns, fresh crabs, fresh sea <br> fish cuttle fish with lime juice,
                                    chili <br> paste coconut & thai herbs.
                                </p>
                                <p class="taka"> 710 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Po Taex (Spicy Sea Food Clear Soup) </span> <br>
                                    Sea prawn, sea crabs, sea fish & fresh <br> cuttle fish with hot basil leafs, lime
                                    juice
                                    <br> fresh chili, lemon grass & hot thai ginger
                                </p>

                                <p class="taka"> 650 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Basil Leaf Soup (Fresh Sea Prawn/ Fillet Fish or Boneless
                                        Chicken) </span> <br>
                                    Hot basil leaf, lemon juice, green chili <br> & thai herbs.
                                </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Raummit Morfai (Potluck Special Soup) </span> <br>
                                    Fish ball, prawn ball, chicken ball with <br> jelly noodles & mixed vegetable. </p>
                                <p class="taka"> 690 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/salad1.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Salad </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Laab Plamuk (Spicy Cuttle Fish Salad) </span> <br>
                                    Slice cuttle fish with lemon juice, chili <br> powder rice powder onion & spicy
                                    herbs </p>
                                <p class="taka"> 660 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Somotom Thai (Papapya Salad) </span> <br>
                                    Green papaya salad with lime juice, fresh <br> tomato dry shrimp, frsh chili, dry
                                    chili.
                                </p>
                                <p class="taka"> 490 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Laab Pla (Fish Fillet Salad) </span> <br>
                                    Spicy minced fish filled or red snapper <br> with lime juice chili powder rice
                                    poweder <br> onion & fresh mints.</p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Goong Chae-Naampla (Raw Shrimp Salad) </span> <br>
                                    Raw sea prawn with lemon juice green <br> chili & thai spicy herbs. </p>
                                <p class="taka"> 490 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="thai-menu-section">
        <div class="container py-2">
            <div class="row gy-3">
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/fish2.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Fish </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Pla Jaramed Tod Kratieam (Pomfret Deep Fried) </span> <br>
                                    Stir fried slice red snapper or cuttle <br> fish fillet with bell pepper, onion <br>
                                    fresh & dry garlic. </p>
                                <p class="taka"> 690 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Pla Crapong Tod Kratieam (Red Snipper Deep Fried) </span>
                                    <br>
                                    Whole deep fried red snapper, served with <br> garlic, chili lemon sauce/ pineapple
                                    sauce.
                                </p>
                                <p class="taka"> 250 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Laab Pla (Fish Fillet Salad) </span> <br>
                                    Spicy minced fish filled or red snapper <br> with lime juice chili powder rice
                                    poweder <br> onion & fresh mints.</p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Potluck Pla CraPong (Potluck Red Snapper) </span> <br>
                                    Deep fried whole red snapper with chili <br> & pineapple sauce. </p>
                                <p class="taka"> 250 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Pla Pad Priew Wan/ Goong Pad Priew </span> <br>
                                    Stir-fried whole red snapper with minced <br> chicken, Bell pepper, Pineapple, red
                                    <br> chili sauce.
                                </p>
                                <p class="taka"> 560 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Crapong Pao Samonprai (Mixed thai herbs grilled red
                                        snapper)</span> <br>
                                    Grilled whole red snapper with mixed thai <br> herbs served with yellow bean sauce &
                                    sea <br> food sauce. </p>
                                <p class="taka"> 230 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/prawns5.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Prawns / Crab </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span>Goong/ Poo Pad Prik Pao(Prawn Red Chili Oil/ Crab Chili Oil)
                                    </span> <br>
                                    Stir fried sea prawn or stir fried sea crab <br> with dry chili paste in thai
                                    gradient.</p>
                                <p class="taka"> 610 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Goong/ Poo Pad Prik Kang(Prawn/ Crab Red Chili Paste)
                                    </span>
                                    <br>
                                    Stir fried sea prawn or sea crab with thai <br> spicy red chili paste , long bean &
                                    thai herbs.
                                </p>
                                <p class="taka"> 610 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Goong Pad Med Mamuang(Prawn Cashew Nut)</span> <br>
                                    Stir pried golden sea prawn with spring <br> onion, dry red chili & thai herbs. </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Goong Pad MonHoy(Prawn Oyster/ Prawn Ginger) </span> <br>
                                    Golden prawn with bell peper, oyster sauce <br> & chinese cabbage ginger. </p>
                                <p class="taka"> 550 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Goong Yai Maenam Pao(Grilled King Prawn-4pcs) </span> <br>
                                    Fresh sweet king prawn grilled with special <br> home mad sauce served with spicy
                                    sea <br> food sauce. </p>
                                <p class="taka"> 990 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/rice1.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Rice </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span>Khao Pad KapraO Goong(Prawn/ Mixed Sea Food Fried
                                        Rice)</span> <br>
                                    Stir fried prawn & mixed sea food rice with <br> spicy thai ingredient . </p>
                                <p class="taka"> 550 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Khao Op Sapa Rod (Butter Pineapple Fried Rice)
                                    </span>
                                    <br>
                                    Sweet pineapple, green peas, carrot, garlic served <br> with fresh pineapple dish.
                                </p>
                                <p class="taka"> 490 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Kao Pad Goong kai Naam (Prawn Chicken/ Beef/ Egg Fried
                                        Rice)</span> <br>
                                    Fried fresh prawn/ fresh chicken fillet/ <br> beef fillet with egg, carrot, long
                                    bean <br> & fried garlic. </p>
                                <p class="taka"> 450 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="thai-menu-section">
        <div class="container py-5">
            <div class="row gy-3">
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/noodles1.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Noodles </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span>Kuay Tiew Pad Tai Goong / Ruam Mit(Prawn/ Chicken/ Beef/
                                        Mixed Thai Rice Noodle) </span> <br>
                                    Stir fried prawn or chicken or beef or mixed <br> with thai rice noodle in thai
                                    spicy sauce.<br> </p>
                                <p class="taka"> 490 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Lard Naa Tale (Mixed Sea Food Gravy Noodle) </span>
                                    <br>
                                    Thai rice noodle with mixed sea food <br> vegetable, mushroom in thai herbs.
                                </p>
                                <p class="taka"> 510 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Lard Naa Kai Naam Goong (Chicken/ Beef/ Prawn Gravy Noodle)
                                    </span> <br>
                                    Thai rice noodle with chicken/ beef/ prawn <br> & vegetable. </p>
                                <p class="taka"> 450 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Pad Se-Ew Goong Kai Naam (Black Soya Noodle) </span> <br>
                                    Fried thai rice noodle with black soya sauce, <br> vegetable & stir fried drawn /
                                    stir fried <br> chicken stir fried beef. </p>
                                <p class="taka"> 540 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                    <div class="card">
                        <figure class="figure">
                            <img src="./img/sizzling1.jpg" class="card-img-top img-fluid" alt="image is loading">
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Sizzling </h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="item-text"> <span> Ruam Mit Tale Oaued(Mixed Sea Food Spicy Hot Pan)
                                    </span> <br>
                                    Combination of stair fried fresh sea prawn, <br> cuttle fish, crab & stir fried fish with
                                    hot <br> chili sauce, bamboo shoot & Mashroom.</p>
                                <p class="taka"> 640 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span>Boong Yai Kata Ron (King Prawn Hot Sizzling) 4Pcs
                                    </span>
                                    <br>
                                    Grilled sweet king prawn with red chili paste, <br> coconut milk, black mashroom & bell pepper <br> served in hot pan.
                                </p>
                                <p class="taka"> 950 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Naam Yang Kata Ron (Beef Fillet Hot Sizzling) </span> <br>
                                    Stir grilled beef fillet with spicy chili sauce,<br> pickle, cucumber pickle carrot, long bean, <br> green pepper </p>
                                <p class="taka"> 610 <br> Tk</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-text"> <span> Goong Nang Kata Ron (Golden Prawn Sizzling) </span> <br>
                                    Stir fried fresh sea prawn with chili sauce, <br> bamboo shoot, mushroom & coconut milk </p>
                                <p class="taka"> 590 <br> Tk</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>


      <!-- map section -->
      <%- include('./partials/map.ejs') %>

      <!-- footer section -->
      <%- include('./partials/footer.ejs') %>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->

    <!-- github animation js link -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 150,
            duration: 800

        });
    </script>

    <!-- external js link -->
    <script src="index.js"></script>

</body>

</html>








<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->

<!-- github animation js link -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 150,
        duration: 800

    });
</script>

<!-- external js link -->
<script src="index.js"></script>

</body>

</html>